doctype html
html
  head
    title= title
    link(rel='stylesheet' href='main.css')
  body
    ul.nav
      li: a(href='/login') Login
      li: a(href='/register') Register
    h1 Hello World
    block content
